src/node_red_exported_code.txt
[{"id":"b6a28b85.595ac8","type":"arduino in","z":"8378f0fc.8903","name":"Ard","pin":"7","state":"INPUT","arduino":"f0256e07.77411","x":210,"y":160,"wires":[["948a0ea2.6e108","e1c9297e.a451b8"]]},{"id":"948a0ea2.6e108","type":"function","z":"8378f0fc.8903","name":"read_sensor","func":"msg.payload = msg.payload * 1;\nif(msg.payload == 1){\n   msg.payload = \"Seco\";\n}else{\n   msg.payload = \"Molhado\";\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["aed109b3.d336f8","9c8eea77.9065e8","e0a9f938.f613b8"]]},{"id":"9c8eea77.9065e8","type":"switch","z":"8378f0fc.8903","name":"will_send_mail_and_tweet","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Seco","vt":"str"},{"t":"eq","v":"Molhado","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":160,"wires":[["4bc0fcaf.7d5ed4","f348d912.2a1958","4f0c22a7.66e7cc"],["f348d912.2a1958","a9569fe7.ef723","b640ffb2.ebda7"]]},{"id":"7faf818a.84ae9","type":"e-mail","z":"8378f0fc.8903","server":"smtp.gmail.com","port":"465","secure":true,"name":"tito.mribeiro2@gmail.com","dname":"mail_sender","x":1250,"y":380,"wires":[]},{"id":"4bc0fcaf.7d5ed4","type":"function","z":"8378f0fc.8903","name":"mail_construction","func":"function d2(n) {\n\t\tif(n<9) return \"0\"+n;\n\t\treturn n;\n\t}\nvar today = new Date();\nvar sDate =  d2(today.getDate()) + \"/\" + d2(parseInt(today.getMonth()+1)) + \"/\" + today.getFullYear() + \" \" + d2(today.getHours()) + \":\" + d2(today.getMinutes()) + \":\" + d2(today.getSeconds());\n\n\nmsg.topic = \"ALERTA: Sua planta precisa ser regada\";\nmsg.payload =  \"<h3>Sensor de planta via arduino</h2><br>\"\n             + \"<h3>Este é um aviso: Sua planta precisa ser regada</h4><br>\"\n             + \"<h2>Para isso, envie um tweet com as palavras <b>#Arduino 6J e #Regar</b>. Após um período de 5 minutos, delete a mensagem.</h2>\"\n             + \"<b>Detectado: \" + sDate + \"</b>\";\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":380,"wires":[["7faf818a.84ae9"]]},{"id":"20e85d77.493bd2","type":"twitter in","z":"8378f0fc.8903","twitter":"","tags":"#Arduino6J, #Regar","user":"false","name":"twitter_listener","topic":"tweets","inputs":0,"x":230,"y":400,"wires":[["d25b3f26.55893"]]},{"id":"d25b3f26.55893","type":"function","z":"8378f0fc.8903","name":"Regar","func":"msg.twitter_answer = msg.payload.includes(\"#\");\nmsg.payload = 120;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["4c9bc839.af6938","2d5efffe.02fc7"]]},{"id":"f348d912.2a1958","type":"debug","z":"8378f0fc.8903","name":"sensor_response_debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":40,"wires":[]},{"id":"4c9bc839.af6938","type":"debug","z":"8378f0fc.8903","name":"twitter_answer_debug","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"twitter_answer","x":690,"y":400,"wires":[]},{"id":"5e631add.397a44","type":"arduino out","z":"8378f0fc.8903","name":"","pin":"8","state":"OUTPUT","arduino":"f0256e07.77411","x":1230,"y":420,"wires":[]},{"id":"4f0c22a7.66e7cc","type":"function","z":"8378f0fc.8903","name":"TURN_ON_LED_8","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":420,"wires":[["5e631add.397a44"]]},{"id":"a9569fe7.ef723","type":"function","z":"8378f0fc.8903","name":"TURN_OFF_LED_8","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":100,"wires":[["db2eb49c.705b68"]]},{"id":"db2eb49c.705b68","type":"arduino out","z":"8378f0fc.8903","name":"","pin":"8","state":"OUTPUT","arduino":"f0256e07.77411","x":1270,"y":100,"wires":[]},{"id":"2d5efffe.02fc7","type":"arduino out","z":"8378f0fc.8903","name":"","pin":"9","state":"SERVO","arduino":"f0256e07.77411","x":630,"y":460,"wires":[]},{"id":"b640ffb2.ebda7","type":"function","z":"8378f0fc.8903","name":"servo_0_degrees","func":"\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":160,"wires":[["daff4055.8664f"]]},{"id":"daff4055.8664f","type":"arduino out","z":"8378f0fc.8903","name":"","pin":"9","state":"SERVO","arduino":"f0256e07.77411","x":1270,"y":160,"wires":[]},{"id":"aed109b3.d336f8","type":"ui_text","z":"8378f0fc.8903","group":"cdb8d727.74fc68","order":0,"width":0,"height":0,"name":"","label":"Umidade","format":"{{msg.payload}}","layout":"col-center","x":680,"y":80,"wires":[]},{"id":"e1c9297e.a451b8","type":"ui_chart","z":"8378f0fc.8903","name":"","group":"cdb8d727.74fc68","order":0,"width":0,"height":0,"label":"Umidade/Tempo","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":470,"y":300,"wires":[[],[]]},{"id":"4b0ca16d.b6a12","type":"ui_button","z":"8378f0fc.8903","name":"","group":"cdb8d727.74fc68","order":0,"width":0,"height":0,"passthru":false,"label":"Servo 120º","color":"white","bgcolor":"red","icon":"","payload":"140","payloadType":"str","topic":"","x":350,"y":520,"wires":[["2d5efffe.02fc7"]]},{"id":"baa8c724.d546e8","type":"ui_button","z":"8378f0fc.8903","name":"","group":"cdb8d727.74fc68","order":0,"width":0,"height":0,"passthru":false,"label":"Servo 0º","color":"white","bgcolor":"green","icon":"","payload":"0","payloadType":"str","topic":"","x":340,"y":580,"wires":[["2d5efffe.02fc7"]]},{"id":"e0a9f938.f613b8","type":"mqtt out","z":"8378f0fc.8903","name":"MQTT Monitorar Umidade ","topic":"vmr/6j","qos":"","retain":"","broker":"85602a43.5edf68","x":710,"y":240,"wires":[]},{"id":"6a6c9360.562b5c","type":"mqtt in","z":"8378f0fc.8903","name":"MQTT Ativar Servo","topic":"servo/6j","qos":"0","broker":"85602a43.5edf68","x":230,"y":700,"wires":[["81f4ce6c.ebb8b"]]},{"id":"81f4ce6c.ebb8b","type":"function","z":"8378f0fc.8903","name":"Servo 120º(ON)/0º(OFF)","func":"if(msg.payload == 1){\n    msg.payload = 120;\n}else{\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["2d5efffe.02fc7","9b00ec85.53c3c"]]},{"id":"9b00ec85.53c3c","type":"debug","z":"8378f0fc.8903","name":"mqtt_ativar_servo_debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":700,"wires":[]},{"id":"f0256e07.77411","type":"arduino-board","z":"","device":"COM3"},{"id":"cdb8d727.74fc68","type":"ui_group","z":"","name":"Sensor de Umidade","tab":"ba57824c.49a47","disp":true,"width":"6","collapse":false},{"id":"85602a43.5edf68","type":"mqtt-broker","z":"","name":"MQTT Andoird IoT 6J","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ba57824c.49a47","type":"ui_tab","z":"","name":"Dashboard Sensor de Umidade","icon":"dashboard"}]